@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: white;
}

::selection {
  background: #facc15;
  color: black;
}

@keyframes loadingBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-loadingBar {
  animation: loadingBar 1.8s ease-in-out forwards;
}